<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>This is a home page</h1>
    <h3> <%= ["hello","This","is","kamlakant"][3] %> </h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse numquam quasi dolore nobis odio quibusdam culpa nostrum iste sit, dolores corrupti at, explicabo inventore suscipit minima reprehenderit ea sequi facilis error alias rerum nesciunt, recusandae quod. Et quibusdam sunt iure.</p>
    <button>click me!</button>
</body>
</html>